


$white: #fff;
$black: #000;
$color-primary: #2563eb;
$color-primary-dark: #194ec0;
$color-text: rgb(25, 25, 25);
$color-muted: #979797;
$color-background: #f7fafc;
$color-surface: #f3f3f3;
$color-border: #f7fafc;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-4xl: 80px;

$radius-md:8px;
$radius-lg:16px;
$radius-xl:24px;

$heading-sm: 20px;
$heading-m: 40px;
$heading-l: 60px;

$body-s: 12px;
$body-m: 16px;
$body-l: 18px;
$body-xl: 21px;
$body-2xl: 30px;
$body-3xl: 50px;


$shadow-card: 0 12px 30px rgba(1,523,42,0.08);



